.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #2c3e50;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer; /* Tıklanabilir olduğunu göster */
  transition: color 0.3s ease-in-out;
}

.brand-name:hover {
  color: #3f6ea4; /* Sarıya dönüşsün */
}

.navbar-right {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
